{% assign i = site.details | find: "type", "registry" %}
<section class="container content-section">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <p> {{ i.content | markdownify }}</p>
      </div>
    </div>
</section>
<!--
<section class="container content-section text-center">
  <div class="row">
    <div class="col-lg-12">
      <h2>Registry</h2>
      <p>
        We're registered at
        {% for reg in site.data.registries %}
          {% if forloop.last == true%} and on{% endif %}
          <a href="{{ reg.url }}" target="_blank">{{ reg.name }}</a>{% unless forloop.last == true %},{% endunless %}
        {% endfor %}
      </p>
    </div>
  </div>
</section>
-->